.clients-section {
  background-color: #060010;
  padding: 3rem 1rem;
  color: white;
}

.section-title {
  font-size: 2.5rem;
  font-weight: light;
  margin-bottom: 0.25rem;
}

.underline {
  
  border: none;
  border-top: 1px solid rgb(102, 99, 99);
  background: #4a4a4a;
  width: 100%;
  margin-bottom: 1.5rem;
}

.section-description {
  max-width: 700px;
  font-size: 1rem;
  text-align: left;
  margin-top: 1rem;
  margin-left: 5rem;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 5rem;
}

.contact-link i {
  font-size: 1.5rem;
}

.contact-link:hover {
  color: #cccccc;
}

/* Scrolling */
.scroll-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.scrolling-track {
  display: flex;
  gap: 20px;
  animation: scroll-track 25s linear infinite;
  width: max-content;
}

.client-box {
  min-width: 200px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  white-space: nowrap;
}

/* Seamless scroll effect */
@keyframes scroll-track {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .section-title {
    font-size: 1.8rem;
  }

  .underline {
    width: 150px;
  }

  .client-box {
    min-width: 150px;
    font-size: 1rem;
  }

  .contact-link {
    font-size: 1rem;
  }

  .contact-link i {
    font-size: 1.2rem;
  }
  .client-box img {
  max-width: 150px;
  max-height: 80px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}


}
