<section class="clients-section text-white py-5 px-3 " >
  <div class="container">
    <h2 class="section-title mb-1 animate-on-scroll">Our Clients</h2>
    <div class="underline mb-4 animate-on-scroll"></div>

    <p class="section-description mb-4 animate-on-scroll">
      We’ve collaborated with forward-thinking brands and businesses, delivering websites, Shopify stores, and marketing strategies that drive measurable growth. Our clients trust us to turn their vision into digital success.
    </p>

    <!-- Contact Link -->
    <div class="contact-link mb-5 animate-on-scroll" routerLink="/contact">
      <i class="bi bi-arrow-right-circle"></i>
      <span class="contact-text">Contact Us</span>
    </div>

    <!-- Scrolling logos -->
    <div class="scroll-section">
      <div class="scrolling-track left-to-right">
        <img src="assets/Logos/3devolution.jpeg" alt="3D EVOLUTION" /> 
        <img src="assets/Logos/cozy-mug.jpeg" alt="THE COZY MUG" />
        <img src="assets/Logos/tpcgroups.jpeg" alt="TPC GROUPS" />
        <img src="assets/Logos/miniso.jpeg" alt="MINISO" />
        <img src="assets/Logos/Auto-Bourn.jpeg" alt="AUTO-BOURN" />
        <img src="assets/Logos/arpudha.jpeg" alt="ARPUDHA" />
        <img src="assets/Logos/rollingmetals.jpeg" alt="ROLLING METALS" />
        <img src="assets/Logos/cozy-mug.jpeg" alt="COZY MUG" />
        <img src="assets/Logos/sainic-security.jpeg" alt="SAINIC SECURITY" />
        <img src="assets/Logos/3devolution.jpeg" alt="3D EVOLUTION" />
        <img src="assets/Logos/cozy-mug.jpeg" alt="THE COZY MUG" />
        <img src="assets/Logos/arpudha.jpeg" alt="ARPUDHA" />
        <img src="assets/Logos/tpcgroups.jpeg" alt="TPC GROUPS" />
        <img src="assets/Logos/miniso.jpeg" alt="MINISO" />
        <img src="assets/Logos/Auto-Bourn.jpeg" alt="AUTO-BOURN" />
        <img src="assets/Logos/rollingmetals.jpeg" alt="ROLLING METALS" />
      </div>
    
      <div class="scrolling-track right-to-left">
        <img src="assets/Logos/rollingmetals.jpeg" alt="ROLLING METALS" />
        <img src="assets/Logos/Auto-Bourn.jpeg" alt="AUTO-BOURN" />
        <img src="assets/Logos/arpudha.jpeg" alt="ARPUDHA" />
        <img src="assets/Logos/cozy-mug.jpeg" alt="THE COZY MUG" />
        <img src="assets/Logos/3devolution.jpeg" alt="3D EVOLUTION" />
        <img src="assets/Logos/sainic-security.jpeg" alt="SAINIC SECURITY" />
        <img src="assets/Logos/miniso.jpeg" alt="MINISO" />
        <img src="assets/Logos/tpcgroups.jpeg" alt="TPC GROUPS" />
        <img src="assets/Logos/arpudha.jpeg" alt="ARPUDHA" />
        <img src="assets/Logos/3devolution.jpeg" alt="3D EVOLUTION" />
        <img src="assets/Logos/sainic-security.jpeg" alt="SAINIC SECURITY" />
        <img src="assets/Logos/miniso.jpeg" alt="MINISO" />
        <img src="assets/Logos/rollingmetals.jpeg" alt="ROLLING METALS" />
        <img src="assets/Logos/tpcgroups.jpeg" alt="TPC GROUPS" />
        <img src="assets/Logos/Auto-Bourn.jpeg" alt="AUTO-BOURN" />
        <img src="assets/Logos/arpudha.jpeg" alt="ARPUDHA" />
        <img src="assets/Logos/cozy-mug.jpeg" alt="THE COZY MUG" />
      </div>
    </div>
    

  </div>
</section>
