<button type="button" class="ihb-btn">
    <!-- Default state -->
    <div class="ihb-default">
      <span class="ihb-dot"></span>
      <span class="ihb-label">{{ label }}</span>
    </div>
  
    <!-- Hover state -->
    <div class="ihb-hover">
      <span>{{ label }}</span>
      <svg
        class="ihb-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
      >
        <path
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M5 12h14M13 5l7 7-7 7"
        />
      </svg>
    </div>
  </button>
  