<header class="hero-header container-fluid d-flex align-items-center justify-content-between py-3 mb-0 pb-0">

    <h3 class="logo-text text-light ms-4 d-none d-lg-flex">wynstack</h3>
  
    <h3 class="logo-text text-light mb-0 d-flex d-lg-none">wynstack</h3>
    <nav class="d-none d-lg-flex flex-grow-1 justify-content-center">
      <ul class="nav nav-cont">
        <li class="nav-item">
          <a class="nav-link link" routerLink="/hero">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/web-services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
    </nav>
  
    <div class="btn-area d-none d-lg-flex">
      <a class="connect-btn" href="#">
        Let’s Connect
        <span></span>
      </a>
    </div>
  
    <a class="connect-btn d-flex d-lg-none ms-auto" href="#lets_contact">
      Let’s Connect
      <span></span>
    </a>
  </header>