

.hero-header .nav-link {
    color: #ffffff;
    font-weight: 500;
    margin: 0 8px;
  }
  @media (max-width: 767.98px) {
      .hero-header .logo-text {
        font-size: 1.5rem;
        margin-left: 0.5rem;
      }
      .hero-header .connect-btn {
        font-size: 1rem;
        padding: 0.45rem 1rem;
      }
      .connect-btn{
        margin-top: 30px;
        margin-right: 5px;
      }
    }
  @media (max-width: 991.98px) {
      .hero-header .logo-text {
        font-size: 1.5rem;
        margin-left: 0.5rem;
      }
      .hero-header .connect-btn {
        font-size: 1rem;
        padding: 0.45rem 1rem;
      }
    }
  
  
  .logo-text {
    margin-top: 35px;
    margin-left: 25px;
    font-family: 'Righteous', sans-serif;
  
  }

  .nav-cont {
    text-align: center;
    margin-left: 70px;
    margin-top: 30px;
    padding: 8px 20px;
    border-radius: 20px;
  
    background: rgba(255, 255, 255, 0.058);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  
    border: 0.5px solid rgba(255, 255, 255, 0.25);
  
    position: relative;
    overflow: hidden;
  }
  
  .nav-cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
   
  }
  
  .nav-cont::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    
  }
  
  .nav-cont .nav-link {
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    transition: color 0.3s ease;
  }
  .nav-cont .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: -4px;
    background: #000;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  
  .nav-cont .nav-link:hover {
    color: #9d9d9d;
  }
  
  .nav-cont .nav-link:hover::after {
    width: 100%;
  }
  
  .hero-header .nav-link {
    color: #ffffff;
    font-weight: 500;
    margin: 0 8px;
  }

   
.connect-btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 0.5px solid #ffffff;
    border-radius: 20px;
    background: transparent;
    padding: 8px 22px;
    font-weight: 500;
    color: #fff;
    transition: color 0.3s ease;
    cursor: pointer;
    z-index: 1;
    text-decoration: none; /* removes underline */
    margin-top: 20px;
    margin-right: 25px;
  }
  
  .connect-btn span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #ff4d6d; /* poppy pink/red ripple */
    transform: translate(-50%, -50%);
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    z-index: -1;
  }
  
  .connect-btn:hover {
    color: #fff; /* keep white text for contrast */
    border-color: #ff4d6d; /* match ripple */
  }
  
  .connect-btn:hover span {
    width: 300px;
    height: 300px;
  }