.footer-section {
    background: #1E1D20; 
    color: #fff;
    border-top: 0.5px solid #5a5a5a;
    font-family: 'Inter', sans-serif;
  }
  
  .footer-logo {
    font-weight: 500;
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.05em;
  }
  
  .footer-desc {
    font-size: 0.85rem;
    opacity: 0.85;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  .footer-social .social-icon {
    color: #aaa;
    font-size: 1.3rem;
    transition: color 0.25s;
  }
  .footer-social .social-icon:hover {
    color: #9CE266 !important;
  }
  
  .footer-links .footer-link {
    color: #aaa;
    display: inline-block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    transition: color 0.2s;
  }
  .footer-links .footer-link:hover {
    color: #9CE266;
    text-decoration: none;
  }
  
  .footer-contact {
    color: #aaa;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    opacity: 0.9;
  }
  
  .footer-divider {
    border-top: 1px solid #2b2239;
  }
  
  @media (max-width: 991px) {
    .footer-section .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .footer-section .row {
      flex-direction: column;
    }
    .footer-section .col-lg-4,
    .footer-section .col-lg-5,
    .footer-section .col-lg-3 {
      max-width: 100%;
      margin-bottom: 2rem;
    }
  }
  




.hero-header .nav-link {
  color: #ffffff;
  font-weight: 500;
  margin: 0 8px;
}
@media (max-width: 767.98px) {
    .hero-header .logo-text {
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }
    .hero-header .connect-btn {
      font-size: 1rem;
      padding: 0.45rem 1rem;
    }
    .connect-btn{
      margin-top: 30px;
      margin-right: 5px;
    }
  }
@media (max-width: 991.98px) {
    .hero-header .logo-text {
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }
    .hero-header .connect-btn {
      font-size: 1rem;
      padding: 0.45rem 1rem;
    }
  }


.logo-text {
  margin-top: 35px;
  margin-left: 25px;
  font-family: 'Righteous', sans-serif;

}