<section id ="home" class="hero-section position-relative">
  <app-dot-grid class="hero-bg"></app-dot-grid>

  <div class="hero-content position-relative">
<app-top-nav></app-top-nav>

    <!-- Hero Text / Left Column -->
    <div class="hero-container container-fluid">
      <div class="row mt-0 align-items-center">
        <div class="col-lg-6 hero-text">
          <h1 class="hero-title">
            <app-decrypted-text [text]="'Built for'" [speed]="100" [delay]="400"
              [characterSet]="'ABCDEFGHIJKLMNOPQR@#*$%!!(#$&%*!(#&$!)@#)$%#*$%@)#$%@#*(%^STUVWXYZ0123456789'">
            </app-decrypted-text>
            <br />
            <img src="assets/hero/shield.svg" alt="shield" class=" me-3 shield-icon" />
            <app-decrypted-text [text]="'the bold.'" [speed]="100" [delay]="900"
              [characterSet]="'ABCDEFGHIJKLMNOPQR@#*$%!!(#$&%*!(#&$!)@#)$%#*$%@)#$%@#*(%^STUVWXYZ0123456789'">
            </app-decrypted-text>
          </h1>

          <!-- Contact Block -->
          <div class="contact-block mt-4">
            <app-interactive-hover-button routerLink="/web-services" label="Get Started" [fg]="'#AC99E8'"
              [bg]="'linear-gradient(90deg, rgba(137,74,255,1) 0%, rgba(78,44,212,1) 100%)'"></app-interactive-hover-button>
            <hr class="divider" />
            <p class="contact-desc">
              We help ambitious brands grow with high-impact websites, sales-driven Shopify
              stores, and performance-focused digital marketing. From design to deployment,
              we make your online presence unstoppable.
            </p>
          </div>
        </div>

        <!-- Right column (optional image / animation slot) -->
        <div class="col-lg-6 hero-img d-none d-lg-flex justify-content-end">
          <div class="tilted-wrapper">
            <app-tilted-card imageUrl="assets/hero/1611723379.svg" label="Wynstack" class="img-fluid">
            </app-tilted-card>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<app-clientele></app-clientele>
<app-services-section></app-services-section>
<app-journeysection></app-journeysection>
<app-contactsection></app-contactsection>
