<section id="service" class="services-section text-white py-5 px-3"> 
  <div class="container">
    <h2 class="section-title mb-2">How can Wynstack Help?</h2>
    <hr class="section-underline">
    
    <div class="section-description mb-4">
      <p>
        From crafting high-performance websites to building sales-driven Shopify stores and executing data backed digital marketing campaigns, we provide everything you need to grow your brand online.
      </p>
    </div>

    <div class="section-link">
      <i class="bi bi-arrow-right-circle"></i>
      <span>Services</span>
    </div>

    <div class="row">
      <!-- Reusable Card with dynamic content -->
      <div class="col-md-4 mb-4" *ngFor="let card of cardData; let i = index">
        <div class="hover-card">
          <div class="hover-card-inner">
            <div class="hover-card-front">
              <div class="card-number">/ 0{{ i + 1 }}</div>
              <div class="card-content">
                <h5>{{ card.title }}</h5>
              </div>
            </div>
            <div class="hover-card-back">
              <p>{{ card.description }}</p>
              <a [routerLink]="card.routePath"  class="learn-more">
                <i class="bi bi-arrow-right-circle-fill"></i> Learn more 
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
