/* You can add global styles to this file, and also import other style files */
html, body {
    overflow-x: hidden;
  }

.main-bg{
  background-color: #1E1D20;
}

.hero-header {
  background: none !important;
}

.contact-dark-bg {
  background: #060010 !important;
  min-height: 100vh;
}

/* Make sure your navbar is transparent so the body background shows through */
.hero-header {
  background: transparent !important;
  box-shadow: none;
}

.contact-wrapper {
  background: transparent;
}
