/* You can add global styles to this file, and also import other style files */
html, body {
    overflow-x: hidden;
  }

.main-bg{
  background-color: #1E1D20;
}

.hero-header {
  background: none !important;
}

.contact-dark-bg {
  background: #1E1D20 !important;
  min-height: 100vh;
}

/* Make sure your navbar is transparent so the body background shows through */
.hero-header {
  background: transparent !important;
  box-shadow: none;
}

.contact-wrapper {
  background: transparent;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #1E1D20;

}

/* Scrollbar thumb (draggable handle) */
::-webkit-scrollbar-thumb {
  background: #9CE266;
  border-radius: 6px;
  border: 5px solid #1E1D20; /* padding around thumb */
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #1E1D20;
}
